* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    height: 100vh;
    background-color: #000;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#slider {
    width: 100%;
}

.container {
    flex-shrink: 0;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: lime;
}

#tools {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
}

#tools > button {
    padding: 20px;
    font-size: 1.2em;
    border-radius: 10px;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}